[user]
  name = Ian Ferguson
  email = ian@ianferguson.io
  signingkey = F02FD45B

[core]
	pager = less
  autocrlf = input
  #named non-standardly to avoid mixing
  #my dotfiles repo .gitignore with the .gitignore for global
  #usage that is stored inside that repo and managed with stow
  excludesfile = ~/.gitignore_global
  editor = vim

[branch]
  autosetupmerge = true
  autosetuprebase = always

[push]
  #'git push' will push the current branch to its tracking branch
  #the usual default is to push all branches
	default = current

[diff]
  renames = copy # makes the diff much shorter when moving or copying files
  renamelimit = 0
  # comment out patience for a bit, eclipse git integration is breaking on it =/
  # algorithm = patience
	tool = vimdiff
  prompt = false

[color]
  ui = auto
  branch = auto
  status = auto
  diff = auto
  interactive = auto

[repack]
  usedeltabaseoffset = true # >git 1.5

[rerere]
  enabled = true

[alias]
  a = add
  aa = add .
  ap = add -p .
  b = branch
  bd = branch -d
  c = commit
  cf = commit --fixup
  cff = commit --fixup HEAD
  cm = commit -m
  cma = commit --amend
  co = checkout
  cb = checkout -b
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
	ctags = !.git/hooks/ctags
  d = diff -w
  dw = diff --word-diff -w
  fa = fetch --all --tags
  lo = log --oneline
  lod = log --oneline --decorate
  ls = ls-files
  mf = merge --ff-only
  pt = push --tags
  r = reset
  rh = reset HEAD^
  rb = rebase
  rbi = rebase -i
  rbc = rebase --continue
  rba = rebase --abort
  rp = remote prune
  rpo = remote prune origin
  rv = remote -v
  s = status .
  sg = status
  sm = submodule
  sma = submodule add
  smi = submodule init
  smu  = submodule update
  st = stash
  stc = stash clear
  stl = stash list
  stp = stash pop
  tree =  log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  treed =  log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all --date-order

[merge]
	tool = vimdiff
[difftool]
	prompt = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "”git@bitbucket.org:”"]
	insteadOf = “https://bitbucket.org/”
[hub]
	host = github.va.opower.it
[init]
	templatedir = ~/.git_template
