[user]
  name = ian
  email = ian@tremblingfire.com 
  signingkey = F02FD45B

[core]
  pager=less -+$LESS -FRX
  autocrlf = input
  #named non-standardly to avoid mixing
  #my dotfiles repo .gitignore with the .gitignore for global
  #usage that is stored inside that repo and managed with stow
  excludesfile = ~/.gitignore_global

[branch]
  autosetupmerge = true
  autosetuprebase = always

[push]
  #'git push' will push the current branch to its tracking branch
  #the usual default is to push all branches
  default = tracking

[diff]
  renames = copy # makes the diff much shorter when moving or copying files
  renamelimit = 0
  # comment out patience for a bit, eclipse git integration is breaking on it =/
  # algorithm = patience
  tool = vimdiff
  prompt = false

[color]
  ui = auto
  branch = auto
  status = auto
  diff = auto
  interactive = auto

[repack]
  usedeltabaseoffset = true # >git 1.5

[rerere]
  enabled = true

[alias]
  a = add
  aa = add .
  ap = add -p .
  b = branch
  ba = branch -a
  bd = branch -d
  c = commit
  cm = commit -m
  cma = commit --amend
  co = checkout
  cb = checkout -b
  cp = cherry-pick
  d = diff -w
  dw = diff --word-diff -w
  fa = fetch --all --tags
  lo = log --oneline
  lsr = ls-remote
  mm = merge
  mf = merge --ff-only
  pt = push --tags
  r = reset
  rh = reset HEAD^
  rb = rebase
  rbi = rebase -i
  rbc = rebase --continue
  rba = rebase --abort
  rp = remote prune
  rpo = remote prune origin
  s = status .
  sg = status
  st = stash
  stc = stash clear
  stl = stash list
  stp = stash pop
  tree =  log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  treed =  log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all --date-order

[difftool]
	prompt = false
