[user]
  name = ian
  email = ian@tremblingfire.com 
	signingkey = F02FD45B
[core]
  pager=less -+$LESS -FRX
  autocrlf = false
  #named non-standardly to avoid mixing
  #my dotfiles repo .gitignore with the .gitignore for global
  #usage that is stored inside that repo and managed with stow
  excludesfile = ~/.gitignore_global
[branch]
  autosetupmerge = true
  autosetuprebase = always
[push]
  #'git push' will push the current branch to its tracking branch
  #the usual default is to push all branches
  default = tracking
[diff]
  renames = copy # makes the diff much shorter when moving or copying files
  renamelimit = 0
  algorithm = patience
  tool = vimdiff
  prompt = false
[color]
  ui = auto
  branch = auto
  status = auto
  diff = auto
  interactive = auto
[repack]
  usedeltabaseoffset = true # >git 1.5
[rerere]
  enabled = true
[alias]
  ribbon = tag --force _ribbon origin/develop
  catchup = log -w --patch --reverse --topo-order _ribbon..origin/develop
  tree =  log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  up = !sh -c 'git pull --rebase --prune && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'
  s = status .
  sg = status
  co = checkout
  a = add
  aa = add .
  c = commit
  ca = commit --amend
  cm = commit -m
  rb = rebase
  rbi = rebase -i
  rbc = rebase --continue
  rba = rebase --abort
  m = merge
  mf = merge --ff-only
  lo = log --oneline
  d = diff
  dw = diff --word-diff
