[submodule "rbenv/.rbenv/plugins/ruby-build"]
	path = rbenv/.rbenv/plugins/ruby-build
	url = git@github.com:rbenv/ruby-build.git
[submodule "rbenv/.rbenv/plugins/rbenv-ctags"]
	path = rbenv/.rbenv/plugins/rbenv-ctags
	url = git@github.com:tpope/rbenv-ctags.git
[submodule "rbenv/.rbenv/plugins/rbenv-default-gems"]
	path = rbenv/.rbenv/plugins/rbenv-default-gems
	url = git@github.com:rbenv/rbenv-default-gems.git
[submodule "rbenv/.rbenv/plugins/bundler"]
	path = rbenv/.rbenv/plugins/bundler
	url = git@github.com:carsomyr/rbenv-bundler.git
