.netrwhist
alfred/Alfred.alfredpreferences/preferences/local
fish_history
fishd.*
*/.config/configstore
*/.config/hub
aws/.aws/credentials
vim/.vim/plugged
rbenv/.rbenv/shims/
rbenv/.rbenv/version
rbenv/.rbenv/versions/
docker/.docker
