[user]
	name = ian
	email = ian@tremblingfire.com
[core]
        pager=less -+ -FRX
        autocrlf = false
        editor = mate -w
        excludesfile = ~/.gitignore
[branch]
        autosetupmerge = true
        autosetuprebase = always
[push]
        # 'git push' will push the current branch to its tracking branch
        # the usual default is to push all branches
        default = tracking
[diff]
        renames = copy # makes the diff much shorter when moving or copying files
        renamelimit = 0
[color]
        ui = auto
        branch = auto
        status = auto
        diff = auto
        interactive = auto
[repack]
        usedeltabaseoffset = true # >git 1.5
[rerere]
        enabled = true
[alias]
        s = status .
	sg = status
        a = !git add . && git status
	ch = checkout
