<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- this should be placed/symlinked into your ~/Library/LaunchAgents/ -->
<!-- then run launchctl load ~/Library/LaunchAgents/com.tremblingfire.screen and you should be good to go -->
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>com.tremblingfire.screen</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/screen</string>
        <string>-DmS</string>
        <string>uber</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  <key>WorkingDirectory</key>
  <string>/Users/iferguson</string>
  <key>StandardErrorPath</key>
  <string>/Users/iferguson/screen.err</string>
  <key>StandardOutPath</key>
  <string>/Users/iferguson/screen.out</string>
</dict>
</plist>
