<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pause-then-screen-saver</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>AA04605B-FAE4-4FD6-BF83-EDCBBAA99F9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D069669A-A196-49E5-B6B1-8D0188E9884B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1311606D-0F97-49D4-A81B-243F8CA453E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ian Ferguson</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pause/Screen Saver</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>D069669A-A196-49E5-B6B1-8D0188E9884B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>psc</string>
				<key>text</key>
				<string>Pause And Start Screen Saver</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AA04605B-FAE4-4FD6-BF83-EDCBBAA99F9D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>1311606D-0F97-49D4-A81B-243F8CA453E9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1311606D-0F97-49D4-A81B-243F8CA453E9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AA04605B-FAE4-4FD6-BF83-EDCBBAA99F9D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D069669A-A196-49E5-B6B1-8D0188E9884B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://ianferguson.io</string>
</dict>
</plist>
